.App {
  text-align: center;
}

body{
  background: linear-gradient(112.1deg, rgb(44 50 69) 11.4%, rgb(92 95 105) 70.2%);
}

.parent-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 0px auto;
}
.table tbody td{
  height: 40px;
}
.tab-item{
  cursor: pointer;
}
.tab-item.active{
  border-bottom: 2px solid #2cd6c9;
}
.tab-wrapper{
  border-bottom: 1px solid rgb(61, 68, 73);
}
.table-components-theme{
  background: #212529;
  color: #fff;
}
.table-footer{
  border-top: 1px solid rgb(61, 68, 73);
}
.caret {
  border-left: solid 5px transparent; 
  border-right: solid 5px transparent; 
  border-bottom: solid 5px #fff; 
  display: inline-block;
}
.caret-down{
  vertical-align:baseline;
  transform: rotate(180deg);
  display: inline-block;
}